---
layout: default
title: Portfolio
section_id: portfolio
images:
  - "sobre.png"
---

<div class='spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <ul data-orbit=''>
      {% for image in page.images %}
        <li>
          <img src='{{site.url}}/images/{{image}}'>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='two spacing'></div>

{% include members.html %}

<div class='three spacing'></div>
<div class='row'>
    <div class='large-12 columns'>

        <h3 align="middle">
            Entrevista para o <i>Arte sem fronteiras</i>
        </h3>

         <div class="videoWrapper">
             <iframe width="560" height="315" frameborder="0" src="http://www.youtube.com/embed/s2OU-3NXUcM">
             </iframe>
         </div>

    </div>

</div>
<div class="row">
    <div class='three spacing'></div>
</div>
