<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Entre em contato com a artista</h2>
        <p>Ficarei feliz em receber opiniões, sugestões, dúvidas e críticas!</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='Nome' type='text'>
        <input placeholder='e-mail' type='text'>
        <input placeholder='Assunto' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='Mensagem'></textarea>
        <input class='button white' type='submit' value="Enviar mensagem">
      </div>
    </div>
  </div>
</div>
