<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail' style='color: #454545;'></i>
        <h2>Entre em contato com a artista</h2>
        <p>Ficarei feliz em receber opiniões, sugestões, dúvidas e críticas!</p>
      </div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
            <center>
            <div class='socials'>
              {% for social in member.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            <p style='margin-top: 1px; padding-top: 0;'> <br/> <b> (19) 99789-8474 <br/> (19) 3411-4266 <br/> adalgiza.vaz@uol.com.br</b> </p>
            </div>
            </center>
    {% endfor %}
 
  </div>
</div>
<!--div class='full yellow'>
  <div class='form'>
    <div class='row'>
      <div class='medium-6 large-6 columns'>
        <input placeholder='Nome' type='text'>
        <input placeholder='E-mail' type='text'>
        <input placeholder='Assunto' type='text'>
      </div>
      <div class='medium-6 large-6 columns'>
        <textarea placeholder='Mensagem'></textarea>
        <input class='button white' type='submit' value="Enviar mensagem">
      </div>
    </div>
  </div>
</div-->
