<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-star'></i>
      <h2>Portfolio</h2>
      <p>Principais obras</p>
      <p class='shortline'></p>
    </div>
  </div>
</div>

<div class='portfolio-index'>
<ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
  {% for work in site.data.portfolio %}
    <li>
      <figure data-index='{{ work.index }}' style='margin: 7px;'>
      <a href='{{ site.url }}images/{{ work.image-full }}' itemprop="contentUrl" data-size="1000x667" data-index='{{ work.index }}'>
        <img src='{{site.url}}images/{{ work.image }}' style='border: 0px; display: block;'>
        <div class='overlay'>
          <div class='thumb-info'>
            <h3>{{ work.title }}</h3>
            <p>{{ work.category }}</p>
          </div>
        </div>
      </a>
      </figure>
    </li>
  {% endfor %}
</ul>
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>



<script type="text/javascript">
var $pic;
var items = new Array(8); // Tamanho da galeria!!
$('div.portfolio-index').each( function() {
        $pic     = $(this),
        getItems = function() {
            $pic.find('a').each(function(i, v) {
                var $href   = $(this).attr('href'),
                    $size   = $(this).data('size').split('x'),
                    $width  = $size[0],
                    $height = $size[1];

                    var id = parseInt($(this).attr('data-index')) - 1;
                    var img = document.createElement('img');
                    img.src = $href;

                img.onload = function() {
                    var item = {
                        src : $href,
                        w   : img.width,
                        h   : img.height
                    }
 
                    items[id] = item;
                }
            });
        }
 
    var items2 = getItems();
});

var pswp = document.querySelectorAll('.pswp')[0];
$pic.on('click', 'figure', function(event) {
    event.preventDefault();
     
    //var $index = $(this).index();
    var $index = parseInt($(this).attr('data-index')) - 1;
    var options = {
        index: $index,
        bgOpacity: 0.7,
        showHideOpacity: true
    }
     
    // Initialize PhotoSwipe
    var lightBox = new PhotoSwipe(pswp, PhotoSwipeUI_Default, items, options);
    lightBox.init();
});

</script>
