$dark:              #803232;
$dark-hover:        #a05252;
$dark-menu:         #c07272;
$dark-arrow:        #f69c9c;
$light:             #efe2d4;
$light-int:         #dfd2c4;
$light-super:       #fff2e4; 

/*$dark:              #ff0000;
$dark-hover:        #ff0000;
$dark-menu:         #ff0000;
$light:             #ff0000;
$light-int:         #ff0000;
$light-super:       #ff0000;*/
