$dark:              #99441D;
$dark-hover:        #A75614;
$dark-menu:         #B87326;
$light:             #F5D5A6;
$light-int:         #CD9542;
$light-super:       #EB9C64; 

$dark-arrow:        #f69c9c;

/*$dark:              #ff0000;
$dark-hover:        #ff0000;
$dark-menu:         #ff0000;
$light:             #ff0000;
$light-int:         #ff0000;
$light-super:       #ff0000;*/
