$dark:              #99441D;
$dark-hover:        #A75614;
$dark-menu:         #B87326;
$light:             #F5D5A6;
$light-int:         #CD9542;
$light-super:       #EB9C64; 

$dark-arrow:        #f69c9c;


$dark-gray:              #5b5b5b;
$dark-gray-hover:        #5e5e5e;
$dark-gray-menu:         #6f6f6f;
$light-gray:             #cdcdcd;
$light-gray-int:         #878787;
$light-gray-super:       #a7a7a7; 

$dark-gray-arrow:        #c9c9c9;
